*
{
    margin:0;
}

.main-container
{
    height:300px;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #81b29a;
    align-items: center;
    align-content: center;
    padding: 40px 0 40px 0;

    
}

.welcome-container {
	height: 20vh;
}

.welcome {
	position: relative;
	font-size: 50px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}

input[type=submit]
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size:2em;
    display:inline-block;
    padding:30px;
    border-style: none;
    /* border-radius:2rem; */
    cursor:pointer;
    margin:10px 10px 10px 10px 
}