body
{
    margin:auto 0;
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content:center;
    align-items: center;
    align-content: center;
    color:#192a51;
}

.form-container {
    padding: 3em;
    background-color: #f5e6e8;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
}

.form-container .form-field
{
    margin-bottom:10px;
}

.form-container .form-field input
{
    padding:10px;
}

.form-container .form-field label
{
    font-size:1.5em;
    font-weight:300;
    display: inline-block;
    width: 5em;
    text-align: left;
}

.form-container .form-title
{
    font-size:2em;
    padding:0;
    margin:-2%;
}

.form-container .form-field a
{
    text-decoration: none;
    color: #f8f7ff;
    display: block;
}

.form-container .form-field button
{
    background-color: #192a51;
    border-style: none;
    padding: 20px;
}

.link a :hover
{
    text-decoration: none;
    color:#aaa1c8;
}

.form-container .form-field input[type = "submit"]
{
    display: block;
    border-style: none;
    background-color: #192a51;
    padding: 20px;
    color:#f5e6e8;
    cursor:pointer;
    margin: 20px 0 20px 0;
    width:100%;

}

.form-container .form-field input[type = "submit"]:hover
{
    background-color: #ad58cf;
    /* color:#192a51; */
}

.form-container .form-field input[type=text]:focus
{
    outline: none !important;
    border:2px solid #192a51;
}

.form-container .form-field input[type=text]:focus :valid
{
    box-shadow: 3px #aaa1c8;
}


