
h1, h2 {
	text-align: center;
}

table {
	border-collapse: collapse;
}

#left-and-right-halves {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#left-half, #right-half {
	background-color: antiquewhite;
	height: 600px;
	margin: 20px;
}

#left-half {
	width: 450px;
}

#right-half {
	width: 800px;
}

.stuff {
	display: inline-block;
	top: 30px;
}

#survey-btn {
	position: relative;
	margin-top: 80px;
	background-color: rgb(98, 133, 160);
	border-radius: 10px;
	width: 140px;
	height: 50px;
}

#retake-survey-note {
	font-size: smaller;
	position: relative;
	width: 260px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
}

table, th, td {
	border: 2px solid gray;
}

table {
	table-layout: fixed;
}

#right-tbl {
	width: 650px;
}

.col1 {
	width: 100px;
}

.col2 {
	width: 100px;
}

.col3 {
	width: 100px;
}

.col4 {
	width: 100px;
}

#left-tbl th, #left-tbl td {
	padding: 6px 20px;
}

#right-tbl th, #right-tbl td {
	padding: 6px 5px;
}

#right-tbl th, #right-tbl tr {
	width: auto;
}

.match-qualities-col, .misc-info-col {
	width: 400px;
	white-space: pre-wrap;
}

#part-dashboard-box {
	position: absolute;
	width: 400px;
	height: 300px;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#no-matches {
	text-align: center;
}
