* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-container {
	position: absolute;
	width: 50vw;
	left: 50vw;
	top: 17vh;
	transform: translate(-50%, 0);
}

.welcome-container {
	height: 20vh;
}

.welcome {
	position: relative;
	font-size: 50px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}

.survey-form {
	/* padding: 50px 100px 50px; */
}

.survey-item {
	/* margin-bottom: 30px; */
	margin-top: 40px;
	margin-bottom: 40px;
}

.context-message {
	font-style: italic;
}

/* overrites survey-item */
.checkbox-bool {
	margin: 0;
}

.survey-item-label {
	display: block;
	margin-bottom: 10px;
}

.important-quality-container {
	margin-bottom: 10px;
}

.important-quality-label {
	display: block;
	margin-bottom: 10px;
}

.misc-info {
	width: min(50vw, 600px);
	height: 100px;
	font-family: serif;
	font-size: 1rem;
	padding: 10px
}
