.form-container {
	position: absolute;
	width: 50vw;
	left: 50vw;
	top: 17vh;
	transform: translate(-50%, 0);
}

.welcome-container {
	margin-top: 100px;
	text-align: center;
}

.survey-form {
	/* padding: 50px 100px 50px; */
	padding: 10px;
}

.survey-item {
	/* margin-bottom: 30px; */
	margin-top: 40px;
}

.survey-item, .participant.interested-in-diversity-groups {
	margin-bottom: 40px;
}

.context-message {
	font-style: italic;
}

/* overwites survey-item */
.checkbox-bool {
	margin: 0;
}

/* applies only to option labels, survey-item-label will override */
label {
}

.survey-item-label {
	margin-left: -30px;
	font-size: 1.3rem;
	/* font-weight: 300; */
	/* color: rgb(86, 91, 117); */
	/* font-style: italic; */
	display: block;
	margin-bottom: 10px;
}

.textbox, select, textarea {
	/* border: 1px solid black; */
	border-radius: 4px;
}

textarea {
	/* width: min(50vw, 600px); */
	/* height: 100px; */
	font-family: sans-serif;
	/* font-size: 1rem; */
	padding: 10px
}

#submit-btn {
	margin-left: -30px;
	width: 150px;
	height: 50px;
	background-color: antiquewhite;
	border-radius: var(--btn-rad);
}