*
{
    margin:0;
}

.welcome-container {
	height: 20vh;
}

.welcome {
	position: relative;
	font-size: 50px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}

.main-container
{
    height:300px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #81b29a;
    align-items: center;
    /* align-content: center; */


    
}